<!doctype html>
<html lang="en">
<head>
    <title>PlayGame</title>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/vendor/bower_components/jquery/jquery.min.js"></script>
</head>
<body ng-app="GameApp" ng-controller="GameController">

<pre>{{temp}}</pre>
<pre>{{player.nickname}}</pre>

<div class="table_sn" id="snooker" style="width:1400px; height:700px; display:block; margin: 0px auto;">
    <canvas id="myCanvas"></canvas>
</div>


</body>

<script src="/vendor/bower_components/angular/angular.min.js"></script>
<script src="/javascripts/appRoutes.js"></script>
<script src="/vendor/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/javascripts/controllers/GameCtrl.js"></script>
</html>
