<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
  </head>
  <body>
  <header>
    <% include ./partials/header %>
  </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <footer>
      <% include ./partials/footer %>
  </footer>
  </body>

  <script>
    var socket = io.connect();
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
    socket.on('count', function(data){
      console.log(data);
     // alert(JSON.stringify(data));
    });
    var div = document.createElement('div');
    document.body.appendChild(div);
//    alert(io.sockets.clients().length);

  </script>
  <!--<script src="../public/javascripts/index.js"></script>-->
</html>
