<!DOCTYPE html>
<html lang="en" ng-app="MainCtrl">
<head>
    <!--<base href="/">-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/vendor/bower_components/angular/angular.js"></script>
    <script src="/vendor/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <!--<script src="/vendor/bower_components/angular-route/angular-route.min.js"></script>-->
    <script src="/javascripts/controllers/MainCtrl.js"></script>
    <!--<script src="/javascripts/controllers/AboutCtrl.js"></script>-->
    <!--<script src="/javascripts/controllers/GameCtrl.js"></script>-->
    <!--<script src="/javascripts/appRoutes.js"></script>-->
    <script src="/javascripts/app.js"></script>
    <script src="/vendor/bower_components/jquery/jquery.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/bower_components/onepage-scroll/jquery.onepage-scroll.min.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <script src="/vendor/bower_components/plax/js/plax.js"></script>
    <script src="/javascripts/pretty.js"></script>
    <link rel="stylesheet" href="/vendor/bower_components/onepage-scroll/onepage-scroll.css">
</head>
<style>
    #ajax_loader{
        display:none;
    }
</style>

<script>
    $(document).ready(function () {
        alert("lol");
        $(document)
                .ajaxStart(function () {
                    $("#ajax_loader").show();
                })
                .ajaxStop(function () {
                    $("#ajax_loader").hide();
                })
    })
</script>

<body ng-controller="MainController">
<div class="wrapper">
    <div class="main">
        <section class="page1">
            <div>
                <img src="/images/ajax-loader.gif" id="ajax_loader" alt="">
            </div>
            <a class="nav-to des-button-white des-button-white-1 des-button-white-1d bt2"
               href="/signup"><span>Sign up</span></a>
            <!--<pre>{{hello}}</pre>-->


        </section>


        <!--<a class="nav-to des-button-white des-button-white-1 des-button-white-1d bt2" href="#portfolio"><span>OUR PORTFOLIO</span></a>-->
        <section class="page2">
            <img src="/images/ball.png" data-xrange="40" data-yrange="40" id="ball">
        </section>

        <section class="page3">

        </section>
    </div>
    <!-- <a class="back" href="http://www.thepetedesign.com/#design">Back to The Pete Design</a>
    <a href="https://github.com/peachananr/onepage-scroll"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> -->
</div>


=======
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<pre>{{hello}}</pre>
<div ng-view></div>

<footer>
    <% include ./partials/footer %>
</footer>
</body>

<script>
    var socket = io.connect();
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', {my: 'data'});
    });
    socket.on('count', function (data) {
        console.log(data);
        // alert(JSON.stringify(data));
    });
    var div = document.createElement('div');
    document.body.appendChild(div);
    //    alert(io.sockets.clients().length);

</script>



<!--<script src="../public/javascripts/index.js"></script>-->
</html>
