<!doctype html>
<html>
<head>
    <title>Snooker</title>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/vendor/bower_components/font-awesome/scss/_screen-reader.scss"> <!-- load fontawesome -->
    <script src="/vendor/bower_components/jquery/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message !== null) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post" name="login-form">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg" data-loading-text="send...">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
</body>
<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>
</html>