<!doctype html>
<html lang="en" ng-app="Table">
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/vendor/bower_components/jquery/jquery.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/bower_components/angular/angular.min.js"></script>
    <script src="/javascripts/controllers/TableCtrl.js"></script>
    <link rel="stylesheet" href="/stylesheets/tableStyle.css">
</head>
<body ng-controller="TableCtrl">
<header>
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="ref" href="/game/{{roomName}}" ng-click="generateRoomName()">Play Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (userID){ %>
            <li><img src="userPhotos/<%= userPhoto %>" alt="" style="width: 30px;height: 30px;border-radius: 50%;margin-top: 8px;"></li>
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"><%= userName %> <span
                            class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ui-sref="inbox">Inbox messages&nbsp;<span class="badge">42</span></a></a>
                    </li>
                    <li><a href="/profile/<%= userName %>">My profile</a></li>
                    <li><a href="#">Add information</a></li>
                    <li><a href="#">Change profile</a></li>
                    <li><a href="#">Create wishlist</a></li>
                    <li class="divider"></li>
                    <li><a href=""
                           onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false">Выйти</a></form>
                    </li>
                </ul>
            </li>
            <% } %>

        </ul>
    </nav>


</header>

<!--<pre class="wrap">
    <pre>
        {{hello}}
    </pre>
    &lt;!&ndash;<img src="images/ball.png" alt="">&ndash;&gt;
    <div class="table">
        <a href="/game/<#%= roomId %#>" class="play_game">
            <img src="/images/start_table.png" alt="" height="200px" width=""/>
        </a>
    </div>
    <div class="table">
        <a href="/game" class="play_game">
            <img src="/images/table.png" alt="" height="200px" width=""/>
        </a>
    </div>
    <div class="table">
        <a href="/game" class="play_game">
            <img src="/images/table.png" alt="" height="200px" width=""/>
        </a>
    </div>
    <div class="table">
        <a href="/game" class="play_game">
            <img src="/images/table.png" alt="" height="200px" width=""/>
        </a>
    </div>
</pre>-->

<div class="wrapper">

    <div class="online_users">
        <div class="online_users_text">
            <p>Users online :</p>
        </div>
        <div class="online_users_count">
            <div class="online_users_count_inner">
                <div class="lol">{{uCount}}</div>
                <!-- <p class="online_inner_text">42</p> -->
            </div>
        </div>
    </div>

</div>

</body>
</html>
